* {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: lighter;
}

p,
span {
	font-size: 18px;
	font-weight: lighter;
	opacity: 0.4;
}

h4 {
	font-size: 35px;
	opacity: 0.9;
	font-weight: 900;
}

hr {
	margin-top: 10px;
	background-color: #ff3300;
	height: 1px;
	border: 0;
	opacity: 0.3;
}

label {
	text-decoration: underline;
	color: #ff3300;
	opacity: 0.8;
}

h1 {
	font-size: 60px;
	font-weight: 900;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
	line-height: none;
	color: #ffffff;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	padding: 0 5px 0 5px;
	height: 90%;
	border: 1px;
}

.navbar-brand {
	font-weight: 800;
	text-align: left;
}

#postjob {
	background-color: #6d63ff;
	color: #ffffff;
}
#postjob:hover {
	background-color: #ebe7e7;
	color: #6d63ff;
	cursor: pointer;
}
#wantjob {
	background-color: #ff3300;
	color: #ffffff;
}
#wantjob:hover {
	background-color: #ebe7e7;
	color: #ff3300;
	cursor: pointer;
}

#home {
	color: #6d63ff;
}

a {
	color: #000000;
	cursor: pointer;
}


#home:hover {
	color: #a4a4ff;
	text-decoration: none;
}

.welcome-note span {
	opacity: 0.6;
}

.welcome-page {
	background-image: url("/assets/img/hero-image.jpg");
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: 70% 30%;
}

.nav-tabs .nav-link {
    border: 0px;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
	border-color: none;
	
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
  {
	border-width: 0px;
	background: #6d63ff;
	color: #fff;
}
#job,
#candidate {
	background-color: #6d63ff;
	border-radius: 5px;
	margin-top: -5px;
}

.bar {
	margin-left: -14px;
	margin-top: -2px;
	border: 0px;
	margin-right: -8px;
}

.option .active {
	padding: 15px;
	color: #ffffff;
	background-color: #6d63ff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#job input[type="text"],
#candidate input[type="text"] {
	background: #ffffff;
	padding: 10px;
	border-radius: 5px;
	opacity: 1;
	height: 60px;
	text-decoration: none;
	color: #000000;
}

.search {
	background-color: #ff3300;
	height: 60px;
}

.features {
	background-color: #6d63ff;
	color: #ffffff;
	padding: 7%;
}

#ledger {
	width: 70px;
	height: 84px;
	background: url("/assets/img/iconset-sprite.jpg") 0 0;
}

#network {
	width: 70px;
	height: 84px;
	background: url("/assets/img/iconset-sprite.jpg") -90px 0;
}

#career {
	width: 70px;
	height: 84px;
	background: url("/assets/img/iconset-sprite.jpg") -190px 0;
}

#consultant {
	width: 70px;
	height: 84px;
	background: url("/assets/img/iconset-sprite.jpg")-300px 0;
}

.features h6 {
	font-weight: 800;
	text-align: left;
}

.feature p {
	font-weight: lighter;
	opacity: 0.8;
	text-align: left;
}

.categories {
	padding: 0 100px;
}
.search-job {
	background-image: url("/assets/img/bannerbg.jpg");
	background-position: 0px 0px;
	min-height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
}

.search-job h5 {
	color: #6d63ff;
	font-size: 15px;
	font-weight: 600;
}

.search-job h4 {
	font-size: 30px;
	font-weight: 900;
}

.job-data {
	margin: 10% 20%;
	border-radius: 5px;
	background-image: url("/assets/img/lens.jpg");
	background-color: #ffffff;
	background-size: 150px;
	background-position: 10px 25px;
	background-repeat: no-repeat;
	max-height: 600px;
	max-width: 500px;
}

.above-footer {
	background: #000000;
	color: #ffffff;
}

.above-footer h6 {
	font-size: 16px;
	font-weight: 900;
}
.above-footer p {
	opacity: 0.9;
}

.about .employer,
.workers,
.about,
.contact {
	width: 275px;
}

#location {
	width: 25px;
	height: 30px;
	opacity: 1;
	display: inline-block;
	background: url("/assets/img/iconset-sprite-contact.jpg") 0 5px;
}
#number {
	width: 25px;
	height: 30px;
	display: inline-block;
	opacity: 1;
	background: url("/assets/img/iconset-sprite-contact.jpg") 0 40px;
}

#mail {
	width: 25px;
	display: inline-block;
	height: 30px;
	opacity: 1;
	background: url("/assets/img/iconset-sprite-contact.jpg") 0 70px;
}
.footer {
	color: #ffffff;
	background: #000000;
	padding: 0 20% 5% 20%;
	text-align: center;
}

.footer p {
	opacity: 1;
}

@media screen and (max-width: 992px) {
	.welcome-page {
		background-image: none;
	}
}
